<?php include ROOT . '/views/layouts/header_explore.php'; ?>
<body>

<div class="menu">
    
    
    <div class="navbar">
        <ul>
            <li>
                <a href="#Categories">Categories <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                </div>
            </li>
            <li><a href="#Instructors">Instructors <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                </div>
            </li>
            <li><a href="#Events">Events <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                    <a href="#">lorem</a>
                </div>
            </li>
            <li class="find">
                <i class="fa fa-search fa-2x"></i>
                <input type="text" class="closed">
            </li>
        </ul>
        <div class="nav-cart">
            <i class="fa fa-shopping-cart fa-3x"></i>6
            <div class="cart-dropdown-menu">
                <h3>You want to buy:</h3>
                <div class="pre-products">
                    <a href="product" class="pre-product">
                        <img src="img/когда%20здал%20дедлайн.png">
                        <i class="fa fa-close"></i>
                        <h2>Product name</h2>
                        <h3>Name Surname</h3>
                        <h4>Category</h4>
                        <h5>silver</h5>
                        <h3 class="pre-price">22$</h3>
                    </a>
                    <a href="product" class="pre-product">
                        <img src="img/когда%20здал%20дедлайн.png">
                        <i class="fa fa-close"></i>
                        <h2>Product name</h2>
                        <h3>Name Surname</h3>
                        <h4>Category</h4>
                        <h5>silver</h5>
                        <h3 class="pre-price">22$</h3>
                    </a>
                    <a href="product" class="pre-product">
                        <img src="img/когда%20здал%20дедлайн.png">
                        <i class="fa fa-close"></i>
                        <h2>Product name</h2>
                        <h3>Name Surname</h3>
                        <h4>Category</h4>
                        <h5>silver</h5>
                        <h3 class="pre-price">22$</h3>
                    </a>
                    <a href="product" class="pre-product">
                        <img src="img/когда%20здал%20дедлайн.png">
                        <i class="fa fa-close"></i>
                        <h2>Product name</h2>
                        <h3>Name Surname</h3>
                        <h3 class="pre-price">22$</h3>
                    </a>
                </div>
                <p>5 items <span class="pre-amount">$500</span></p>
                <button class="confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="content events">
    <div class="date">
        <i class="fa fa-caret-left fa-4x"></i>
        <div class="select">
        <h1>April,2019<i class="fa fa-caret-down"></i></h1>
        <ul class="events-mount-list">
            <li>March,2019</li>
            <li>September,2020</li>
            <li>November,2020</li>
        </ul>
        </div>
        <i class="fa fa-caret-right fa-4x"></i>
    </div>
        <div class="pre-event">
        <div class="pre-event-name">
            <h1>Event Name </h1>
        </div>
        <div class="event-address">
            <h3>Lviv,Ukraine</h3>
            <h3>06.12.2019</h3>
        </div>
        </div>
        <div class="pre-event">
            <div class="pre-event-name">
                <h1>Event Name </h1>
            </div>
            <div class="event-address">
                <h3>Lviv,Ukraine</h3>
                <h3>06.12.2019</h3>
            </div>
        </div>
        <div class="pre-event">
            <div class="pre-event-name">
                <h1>Event Name </h1>
            </div>
            <div class="event-address">
                <h3>Lviv,Ukraine</h3>
                <h3>06.12.2019</h3>
            </div>
        </div>
        <div class="pre-event">
            <div class="pre-event-name">
                <h1>Event Name </h1>
            </div>
            <div class="event-address">
                <h3>Lviv,Ukraine</h3>
                <h3>06.12.2019</h3>
            </div>
        </div>
</div>

<footer>
    <i class="fa fa-envelope fa-4x"></i>
    <h3>Feedback or comments</h3>
    <form class="thoughts">
        <input type="text" id="thoughts" placeholder="Please fell free to share your thoughts on this">
        <input type="submit" value="Explore">
    </form>
    <a href="help"><i class="fa fa-question-circle"></i> Help</a>
    <div class="social-links">
        <a><i class="fa fa-facebook fa-2x"></i></a>
        <a><i class="fa fa-twitter fa-2x"></i></a>
        <a><i class="fa fa-youtube fa-2x"></i></a>
        <a><i class="fa fa-instagram fa-2x"></i></a>
        <a><i class="fa fa-snapchat fa-2x"></i></a>
    </div>
</footer>
<script src="carousel.js"></script>
<script src="search.js"></script>
</body>
</html>